<a href="https://colab.research.google.com/github/Joshyballa/Joshyballa/blob/main/PHYTON_CLASS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(4)

4

In [ ]:
print(5)

5

In [ ]:
5

5

In [ ]:
a=10

In [ ]:
a

10

In [ ]:
print("My name is Joshua")

My name is Joshua

In [ ]:
1=1

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-7-c59fb5224dc0>, line 1)

In [ ]:
1 == 1

True

In [ ]:
1==1

True

In [ ]:
2 != 1

True

In [ ]:
2 == 1

False

In [ ]:
3 * 2

6

In [ ]:
4^2

6

In [ ]:
5 ** 2

25

In [ ]:
import math

In [ ]:
dir (math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [ ]:
math.sqrt(25)

5.0

In [ ]:
math.factorial(5)

120

In [ ]:
import statistics

In [ ]:
dir (statistics)

['Counter',
 'Decimal',
 'Fraction',
 'LinearRegression',
 'NormalDist',
 'StatisticsError',
 '_SQRT2',
 '__all__',
 '__annotations__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_coerce',
 '_convert',
 '_decimal_sqrt_of_frac',
 '_exact_ratio',
 '_fail_neg',
 '_float_sqrt_of_frac',
 '_integer_sqrt_of_frac_rto',
 '_isfinite',
 '_mean_stdev',
 '_normal_dist_inv_cdf',
 '_sqrt_bit_width',
 '_ss',
 '_sum',
 'bisect_left',
 'bisect_right',
 'correlation',
 'covariance',
 'defaultdict',
 'erf',
 'exp',
 'fabs',
 'fmean',
 'fsum',
 'geometric_mean',
 'groupby',
 'harmonic_mean',
 'hypot',
 'linear_regression',
 'log',
 'math',
 'mean',
 'median',
 'median_grouped',
 'median_high',
 'median_low',
 'mode',
 'mul',
 'multimode',
 'namedtuple',
 'numbers',
 'pstdev',
 'pvariance',
 'quantiles',
 'random',
 'reduce',
 'repeat',
 'sqrt',
 'stdev',
 'sys',
 'tau',
 'variance']

In [ ]:
statistic.log100

NameError: name 'statistic' is not defined

In [ ]:
statistics.log (100)

4.605170185988092

In [ ]:
a = 1,2,3,4,5,6,7,8,9
statistics.mean(a)

5

In [ ]:
type (5)

int

In [ ]:
print(type(0))

<class 'int'>

In [ ]:
y = -2000
print (type(y))

<class 'int'>

In [ ]:
x, y = 3, 4
print (x, y)
print (type(x), type(y))

3 4
<class 'int'> <class 'int'>

In [ ]:
z = 3, 4
print (z)
print (type(z))

(3, 4)
<class 'tuple'>

In [ ]:
# Float

In [ ]:
#FLoat
a = 3.10
print (a)
print (type(a))

3.1
<class 'float'>

In [ ]:
type (1.56776554)

float

In [ ]:
# cpmplex
a = 3 + 4j
print (a)
print (type(a))

(3+4j)
<class 'complex'>

In [ ]:
# sequential data type
# 1. List
my_list = ["Joshua", 21,10,28, 'PH', 50]
print (my_list)
print (type(my_list))

['Joshua', 21, 10, 28, 'PH', 50]
<class 'list'>

In [ ]:
print (my_list[5])

50

In [ ]:
print (my_list[-2])

PH

In [ ]:
# immutability - Lists are mutable
my_list.append (200)

In [ ]:
my_list

['Joshua', 21, 10, 28, 'PH', 50, 200]

In [ ]:
my_list.remove("Joshua")

In [ ]:
my_list

[21, 10, 28, 'PH', 50, 200]

In [ ]:
a = [1,2,3,4,5]
print (a)

[1, 2, 3, 4, 5]

In [ ]:
a.append(6)

In [ ]:
a

[1, 2, 3, 4, 5, 6]

In [ ]:
a.extend ([7,8,9,10])

In [ ]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Tuple Data Type

In [ ]:
my_tup = ("Joshua", 21,10,28, 'PH', 50+4j)
print (my_tup)
print (type(my_tup))

('Joshua', 21, 10, 28, 'PH', (50+4j))
<class 'tuple'>

In [ ]:
print (my_tup[0])

Joshua

# **SETS**

In [ ]:
My_set = {1,1,2,2,3,3,4,5,6,7,7}
print (My_set)
print (type(My_set))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

## Dictionary Data Types

> Add blockquote

In [ ]:
 # key value pair
 person = {"name": "Joshua", "age": 29, "gender": "Male", "city": "Port Harcourt"}
 print (person)
 print (type(person))

{'name': 'Joshua', 'age': 29, 'gender': 'Male', 'city': 'Port Harcourt'}
<class 'dict'>

In [ ]:
print (person["name"])

Joshua

In [ ]:
print(person.keys())

dict_keys(['name', 'age', 'gender', 'city'])

In [ ]:
print (person.values())

dict_values(['Joshua', 29, 'Male', 'Port Harcourt'])

### **Boolean**

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
print(type(False))

<class 'bool'>

In [ ]:
a = [int(input())]

23

In [ ]:
x = 10

In [ ]:
[49]x + 15

SyntaxError: invalid syntax (<ipython-input-25-26b39a3498a6>, line 1)

In [ ]:
print average

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (<ipython-input-26-a342c6a0eadc>, line 1)

In [ ]:
a,b,c = 1,2,3

In [ ]:
a

1

In [ ]:
b

2

In [ ]:
c

3

In [ ]:
average_of_numbers = 3

In [ ]:
3

3

SyntaxError: cannot assign to literal (<ipython-input-36-d5a8e89ca936>, line 1)

In [ ]:
rd.seed(5)

NameError: name 'rd' is not defined

In [ ]:
[] rd.seed(5)
print (rd.random())

SyntaxError: invalid syntax (<ipython-input-3-55c011926f6a>, line 1)

In [ ]:
number = int (input("Eneter a number:"))
print(number)

2.3

ValueError: invalid literal for int() with base 10: '2.3'

In [ ]:
number = int (input("Enter a number: "))
if number == 5:
  print ("The number is equal to 5")
elif number > 5:
  print ("The number is greater than 5")
else:
    print ("The number is less than 5")

Enter a number: 5
The number is equal to 5

In [ ]:
5

5

In [ ]:
for number in range(10):
  print (number)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for number in range(20):
  if number % 2 == 0:
    print (number)

0
2
4
6
8
10
12
14
16
18

In [ ]:
for number in range(20):
  if number % 2 != 0:
    print (number)

1
3
5
7
9
11
13
15
17
19

In [ ]:
num = int (input("Enter a number: "))
if num % 2 == 0:
  print(f"{num} is even}")
  else:
    print(f"{num} is odd")

SyntaxError: f-string: single '}' is not allowed (<ipython-input-28-09ab935cae5a>, line 3)

In [ ]:
for number in range(5,101,5):
  print (number)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [ ]:
for num in range (5,101):
  if num % 5 == 0:
    print (num)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [ ]:
i = 0
while i in range(5):
  print (i)
  i = i + 1

0
1
2
3
4

In [ ]:
import random as rd
rd.randint(1,10)

7

In [ ]:
dir(rd)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_ONE',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_accumulate',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_floor',
 '_index',
 '_inst',
 '_isfinite',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_repeat',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randbytes',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

## **PANDAS**

In [37]:
import pandas as pd

In [38]:
dir (pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_built_with_meson',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_pandas_datetime_CAPI',
 '_pandas_parser_CAPI',
 '_testing',
 '_typing',
 '_version_meson',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [39]:
data

NameError: name 'data' is not defined

In [40]:
data = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [41]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [42]:
data.head(11)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0
10,-114.60,33.62,16.0,3741.0,801.0,2434.0,824.0,2.6797,86500.0

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [46]:
data.tail(9)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16991,-124.23,41.75,11.0,3159.0,616.0,1343.0,479.0,2.4805,73200.0
16992,-124.23,40.81,52.0,1112.0,209.0,544.0,172.0,3.3462,50800.0
16993,-124.23,40.54,52.0,2694.0,453.0,1152.0,435.0,3.0806,106700.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [47]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [48]:
data.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [49]:
#duplicate
data.duplicated().sum()

0

In [50]:
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
16995    False
16996    False
16997    False
16998    False
16999    False
Length: 17000, dtype: bool

In [51]:
data.isnull().any()

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms        False
population            False
households            False
median_income         False
median_house_value    False
dtype: bool

In [52]:
data.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64